# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/
dist/

# Cache
node_modules/.cache/

# Env (no subir claves)
.env
.env.local
.env.*.local

# Debug / IDE
npm-debug.log*
.DS_Store
*.tsbuildinfo
next-env.d.ts

/src/generated/prisma
